.bottom-popup-h5 {
  width: 100vw;
  height: fit-content;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  z-index: 10;
  border-radius: 5px 5px 0 0;
  &-main {
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
  }
}
.bottom-popup-uni{
  padding-bottom: var(--window-bottom);
}
