.dialog {
  background: rgba(0, 0, 0, 0.6);

  &-main {
    background: #FFF;

    &-header {
      font-weight: 500;
      color: #333;
    }

    &-title {
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: #333;
    }

    &-back {
      background: none;
    }

    &-content {
      font-weight: 400;
      color: #333;
    }
  }
}

.btn {
  font-weight: 400;
  color: #FFF;
  letter-spacing: 0;

  &-cancel {
    border: 1px solid #ddd;
    color: #666;
  }

  &-default {
    background: #006EFF;
    border: 1px solid #006EFF;
  }
}
