.chat {
  display: block;
  height: 100%;
  overflow: hidden;
}

.tui-chat-h5 {
  &-message-list {
    flex: 1;
    overflow: hidden;
    display: flex;
  }

  &-message-input {
    height: auto;
    padding: 10px 10px 0;
    border-top: 1px solid #eee;
  }

  &-message-input-toolbar {
    order: 1;
    border: none;
  }
}

.tui-chat-uniapp {
  &-header {
    display: none;
  }
}

.group-profile {
  position: absolute;
  top: 14%;
  right: 0;
  width: 50px;
  height: 30px;
  line-height: 30px;
  color: #000;
  font-size: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 15px;
  z-index: 100;
  background-color: #ccc;
  opacity: 0.5;
}
