.tui-chat {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  &-default {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
  }

  &-header {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
  }

  &-message-list {
    flex: 1;
    overflow: hidden;
    display: flex;
  }

  &-leave-group {
    font-size: 14px;
    height: 160px;
    border-top: 1px solid #efefef;
    justify-content: center;
    align-items: center;

    &-mobile {
      height: 50px;
    }
  }

  &-message-input {
    height: 160px;
    display: flex;
  }
}
