.TUI-chat {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  &-default {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
  }
  &-header {
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
  }
  &-message-list {
    flex: 1;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
  }
  &-message-input {
    height: 160px;
    display: flex;
  }
}
