.tui-chat {
  .tui-message-list {
    .message-more {
      color: #999;
      cursor: pointer;
    }
  }

  .image-dialog {
    background: rgba(0, 0, 0, 0.6);

    header {
      background: rgba(0,0,0,0.49);
    }
  }
}

.tui-chat-h5 {
  .tui-chat-header {
    background: #FFF;
  }

  .tui-chat-footer {
    background: #FFF;

    .input {
      input {
        background: #F4F5F9;
      }
    }
  }
}
