@import "./color/login.scss";
@import "./web/login.scss";
@import "./h5/login.scss";
@import "@tencentcloud/chat-uikit-vue/assets/styles/common.scss";

.btn {
  background: none;
  border: none;
}

.code-box {
  padding: 0 20px;
  color: #006EFF;
  border-top: none;
  border-bottom: none;
  font-weight: normal;
}